@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7ccc8;
  --foreground: #1c1b1a;
  /* --primary: #4e342e; */
  --primary: #6d4c41;
  --success: #388e3c;
  --error: #d32f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1b1a;
    --foreground: #d7ccc8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
